<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
<h1>
Welcome to {{title}}</h1>
<h2>{{message}}</h2>
</div>
<nav>

<a routerLink="/departments">Departments</a>

<a routerLink="/employees">Employees</a>
<a routerLink="/study">Study </a>
<a routerLink="/game">Game </a>

</nav>
<app-test (childEvent)="message=$event" [ParentData]="gas"> </app-test>
<router-outlet></router-outlet>



